.headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftHeader h1 {
    font-family: Skranji monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

}

.rightHeader a {
    color: white;
    margin-right: 30px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightContent {
    background-color: white;
    align-content: center;
}
.leftContent {
    color: white;
}

hr {
    color: white;
}

.nominateBtn {
    width: 396px;
    height: 70px;
    background-color: #FADB14;
    border-radius: 3px;
    font-weight: bold;
}

.loginBtn {
    color: black;
    font-weight: bold;
}